AI_env/
__pycache__/
*.pyc
.DS_Store
models/
/src/voice/crema-d/
/src/voice/output*/
/src/voice/models/
/src/voice/live_predictions*
/src/voice/data/
/GCKey/
/env/
/env310/
/src/voice/logs/
echo "GCKey/*.json" >> .gitignore
git commit -m "Remove sensitive GCP key and add to gitignore"
